* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* header style  */

.container {
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  margin-bottom: 41px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 24px;
  color: #3a3a3a;
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
}

.nav-item {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 600;
}

nav a:hover {
  color: #ff008e;
}

.fa-search {
  font-size: 20px;
}

.fa-shopping-cart {
  font-size: 20px;
}

/* top header style  */

.journy {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.top-header {
  width: 582px;
  height: 270px;
}

.header-title {
  font-size: 45px;
  color: #3a3a3a;
  margin-bottom: 0;
}

.header-intro {
  width: 505px;
  height: 60px;
  color: #3a3a3a;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.fa-arrow-right {
  margin-left: 10px;
}

.header-button {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 40px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}

.header-image {
  border: 2px solid #f1e4ff;
  border-radius: 50%;
  margin-top: 40px;
  padding: 10px;
}

.header-image img {
  width: 440px;
  height: 414px;
}

/* sponsor style  */

.company {
  max-width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* liner gradient kora lagba */
}

.company-logo {
  margin-left: 20px;
  margin-right: 20px;
}

/* card section style  */

.collection {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.card-title {
  color: #3a3a3a;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}

.card-item {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.card-banner {
  margin: 17px 14px;
}

.card-details {
  margin: 17px 14px;
}

.card-name {
  font-size: 28px;
  margin-bottom: 6px;
  color: #18191f;
}
.card-price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #000000;
}

.card-info i {
  font-size: 12px;
  color: #ffc014;
}
.card-info span {
  margin-left: 10px;
  color: #5e6366;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.card-button {
  display: inline-block;
  text-decoration: none;
  color: #e02c6d;
  font-size: 16px;
  font-weight: 600;
  float: right;
}

/* feature style  */

.features {
  display: flex;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.feature-left {
  width: 40%;
}

.feature-right-details {
  width: 60%;
  margin-left: 95px;
}

.feature-title {
  margin-bottom: 16px;
  color: #0a0826;
  font-size: 35px;
  margin-top: 23px;
}

.feature-caption {
  margin-bottom: 16px;
  color: #6c6c6c;
  font-weight: bold;
  font-size: 16px;
}

.feature-button {
  display: inline-block;
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 24px;
  font-weight: 600;
}
/* footer style  */

footer {
  background-color: #0a0826;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
}
.footer-title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 3px;
}

.footer-copyright {
  font-size: 14px;
  color: #d9dbe1;
  font-weight: bold;
  margin-bottom: 3px;
}

.footer-rights {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.iocn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.1);
  width: 32px;
  height: 32px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}
